body {
    background-color: antiquewhite;
}

.customNav {
    background-color: rgba(0,0,0,.5);
}

.rounded_edges {
    border-radius: 15px;
}

.tinted {
    background-color: rgba(0,0,0,0.2);
}

.content-slider li {
    border-radius: 15px;
    background-color: lightgreen;    
}

.sectionHeader {
    padding: 30px;
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    text-shadow: 2px 2px white;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    color: #1AFF66;
    font-family: "Kaushan Script", "Helvetica Neue",
        Helvetica, Arial, cursive;
    font-size: 40px;
}

.headerText {
    color: #1AFF66;
    font-family: "Kaushan Script", "Helvetica Neue",
        Helvetica, Arial, cursive;
}

#about {
    margin-bottom: 150px;
}

#aboutNav {
    background-color: white;
    border-radius: 15px;      
    height: 11em;
}

.iotBlocks {
    margin-top: 10px;   
}

.aboutSectionBlock {
    background-color: white;
    padding: 8px;
    height: 11em;
}

@media(max-width: 767px) {
    #welcomeHeader {
        display: none;
    }
    .carousel-caption {
        display: none;
    }
}

hr {
    border: 1px solid rgba(0,0,0,0.8);
    width: 80%;
}

footer {
    color: white;
    margin:0px;
    background-color: rgba(0,0,0,0.8);        
}

#IOT {    
    background-color: white;
    height: 50%;
}

.dropdown-menu {
    background-color: rgba(0,0,0,0.9);
}

.navbar-default .nav li a {
    color: #1AFF66;
}

.navbar-default .nav li a:hover {
    background-color: white;
}

/*          OLD CSS         */

#googleCalendar {
    max-width: 100%;
}

.blogSection {
    overflow-y: auto;
    max-height: 500px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgba(227,216,216,0.5);
    border-radius: 15px;
    height: 500px;
}

.blogPost {
    background-color: rgba(26,255,102,.4);
    height: 150px;
    border-radius: 15px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.blogHeader {
    height: 40px;
}

.blogTitle {
    width: 70%;
    float: left;
    height: 40px;
    vertical-align: middle; 
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.blogUser {
    width: 30%;
    float: right;
    height: 40px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.blogDescription {
    height: 100px;
}

.loginCover {
    width: 100%;
    height: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background-color: rgba(0,0,0,0.5);
    overflow-y: hidden;
}

.blankBackground {
    background-color: transparent;
}

.text-right {
    text-align: right;
}

.noFluff {
    padding: 0px;
    margin: 0px;
}

#blogTitleStyle {
    font-size: 18px;
    vertical-align: baseline;
}

.blogUserStyle {
    vertical-align: baseline;
    font-family:"Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}

.blogDescStyle {
    margin: 5px;
}

#logoutButtonSection {
    display: none;
}

#comment .comment-item {
    margin: 0 0 15px;
    right: 0;
    box-shadow: 5px;
}

#comment .comment-item .comment-link {
    display: block;
    position: relative;
    max-width: 50%;
    margin: 0 auto
}

#comment .comment-item .comment-link .comment-hover {
    background: rgba(26, 255, 102, .9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s
}

#comment .comment-item .comment-link .comment-hover:hover {
    opacity: 1
}

#comment .comment-item .comment-link .comment-hover .comment-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff
}

#comment .comment-item .comment-link .comment-hover .comment-hover-content i {
    margin-top: -12px
}

#comment .comment-item .comment-link .comment-hover .comment-hover-content h3,
#comment .comment-item .comment-link .comment-hover .comment-hover-content h4 {
    margin: 0
}

#comment .comment-item .comment-caption {
    max-width: 80%;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px
}

#comment .comment-item .comment-caption h4 {
    text-transform: none;
    margin: 0
}

#comment .comment-item .comment-caption p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: 0
}

#comment * {
    z-index: 2
}

@media (min-width:767px) {
    #comment .comment-item {
        margin: 0 0 30px
    }
}

.blogTitle > input {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 15px;
    text-align: center;
}

.blogDescription > input {
    width: 99%;
    height: 95%;
    border-radius: 15px;
    text-align: center;
    margin-top: 8px;
}

#new_comment_user {    
    padding-top: 6px;    
}

#new_comment_user > p {
    font-size: 14pt;
}

.portfolioPhoto {
    height: 202.5px;
    width:100%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.instructionHeading {
    font-weight: bold;
    color: #1AFF66;
    font-size: 1.5em;
}

.instructionList {
    text-align: left;
}

.imgExample {
    text-align:left;
    max-width: 40%;
}

.steps {
    text-align:center;
    font-weight:bold;
    font-size: 1.2em;
    color:#1AFF66;
}

.stepDescription {
    text-align:left;
}

.stepDescriptionList {
    display:block;
    text-align:center;        
}

@media(min-width: 767px) {
    .stepDescription ol {
        display:block;
        text-align:center;
        padding: 0px;
    }
}